apiVersion: v1
kind: Service
metadata:
    name: sample
spec:
    type: LoadBalancer
    selector:
        app: webapp
    ports:
        - port: 80
          name: web
          targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: sample
spec:
    replicas: 1
    selector:
        matchLabels:
            app: webapp
    template:
        metadata:
            labels:
                app: webapp
        spec:
            containers:
            -   name: webapp
                image: reblank/challenge1
